
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 80px;

}
li {
  text-decoration: none;
}

.button-icon {
  background-color: black;
  cursor: pointer;
}

svg {
    height: 50px;
  width: 50px  ;
  color: gray;
}

@media screen and (max-width:972px) {
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 80px;
}
  

}