


.title {
    height: 35px;
    font-weight: 900;
    font-size: 30px;
  
}
.Myicons {
    display: flex;
    margin-top: 40px;
   justify-content: center;
    align-items: center;
    gap: 40px;
    height: 200px;
    margin-bottom: 200px;
    
    
}
.skillIcon {
    height: 100px;
    width: 100px;
}

.skllText {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.MyButtonCvDiv {
    text-align: center;
    
}
.buttonCv {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #FF5722;
    cursor: pointer;
    transition: 0.8s;
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: white;
}

.buttonCv:hover {
    opacity: 0.8;
    
}

svg {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    transition: 0.6s;
}
svg:hover {
    opacity: 0.6;
}
.social-icons:hover {
    color: white;
}
.react {
    color: #5CCFEE;
    border: 1px solid #5CCFEE;
}
.javaScriptIcons {
    color: black;
    background-color: yellow;
}
.nodeIcon {
    background-color: green;
    color: white;
}
.Myhtml {
    background-color: #FF5722;
    color: white;
}
.css3Icons {
    color: white;
    background-color: #1572B6;
}
.IconTs {
    color: #1572B6;
    background-color: white;
}
.gitICOn {
    color: white;
    background-color: orangered;
}

.lineNova {
    border-bottom: 2px solid #202020;
    height: 5px;
    width: 30%;
    margin: auto;
    margin-top: 80px;
}

.title-project {
    text-align: center;
    margin-top: 60px;
}
.section-conteudo {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.imgportifolio {
    margin-top: 50px;
    height: 400px;
    border-radius: 180px;
}
p {
    font-weight: bold;
}

.informações {
    font-size: 25px;
}

.h1-informações {
    font-size: 45px;
    margin-bottom: 10px;
}

.contato-link {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    background-color: black;

   
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 120px;
   margin-top: 50px;
  
   
  
}
.Mycontatos {
    display: flex;
    align-items: center;
    background-color: black;
     overflow-wrap: break-word;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    border-radius: 20px;
    padding: 10px;   
   
}
.phone {
    color: white;
}
.gmail {
    color: purple;
}

.localizacao {
    color: green;
}
.redesSociais {
    display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 20px;
     background-color: #202020;
     width: 400px;
     gap: 20px;
     border-radius: 10px;
}

.social-icons {
    color: black;
    cursor: pointer;
    transition: 0.7s;
}


.imgProjects {

    height: 250px;
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
    transform: translateY(150px);
    transition: 0.8s;
   
    border: 2px solid white;
}
.description {
    width: 340px;
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
   font-weight: bold;
   
   
   
}

.imgProjects:hover {
    transform: translateY(40px);
}
footer {
    background-color: #202020;
    text-align: center;
}

@media screen and (max-width:1440px) {
   
    .textInformation {
        width: 550px;
       

    }
   

}


@media screen and (max-width:1024px) {
   


    .section-conteudo {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
       
        align-items: center;
        
    }
    .projects {
        display: flex;
        flex-direction: column;
        gap: 1px;
        margin-bottom: 120px;
        margin-top: 20px;
    }
    .h1informações {
        margin-top: 80px;
    }
    .textInformation {
        width: 600px;
    }
    .cerficados {
        display: flex;
        flex-direction: column;
    }  

   .Myicons {
    margin-top: 630px;
           display: flex;
           flex-direction: column;
     }
   

}
@media screen and (max-width:700px) {
   


    .section-conteudo {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
       
        align-items: center;
        
    }
    .projects {
        display: flex;
        flex-direction: column;
        gap: 1px;
        margin-bottom: 120px;
        margin-top: 20px;
    }
    .h1informações {
        margin-top: 80px;
        margin-bottom: 10px;
    }
    .textInformation {
        width: 350px;
    }
    .cerficados {
        display: flex;
        flex-direction: column;
    }

    .Myicons {
        margin-top: 630px;
        display: flex;
        flex-direction: column;
  }

    
   

}

footer {
    margin-top: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contato {
    height: 50px;
    transition: 0.8s;
}

.contato:hover {
    color: black;
}
.Myfooter {
    font-size: 40px;
    font-weight: bold;
}

.cetificadosTitle{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.cerficados {
    margin-top: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
}

.cerficadosBtn {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #202020;
    cursor: pointer;
    transition: 0.8s;
    border-color: #202020;
}
.cerficadosBtn:hover{
    background-color: black;
}